<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@project.errors.count, "error") %> prohibited
        this project from being saved:</h2>
    <ul>
    <% @project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
    <div class="field">
        <%= f.label :job_title %><br />
        <%= f.text_field :job_title %>
  </div>
   <div class="field">
    <%= f.label :company %><br />
    <%= f.text_field :company %>
  </div>
   <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :hiring_manager %><br />
    <%= f.text_field :hiring_manager %>
  </div>
    <div class="field">
        <%= f.label :job_description %><br />
        <%= f.text_field :job_description %>
  </div>
 
<div class="actions">
    <%= f.submit %>
  </div>
<% end %>
