<div class="fancy-table">
<table id="rounded-corner">
  <thead>
      <tr>
        <th>Job Title</th>
        <th>Company</th>
        <th>Location</th>
        <th>Hiring Manager</th>
        <th>Job Description</th>
      </tr>
   </thead>

   <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.job_title %></td>
        <td><%= project.company %></td>
        <td><%= project.location %></td>
        <td><%= project.hiring_manager %></td>
        <td><%= project.job_description %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
    <tfoot>
    </tfoot>
</table>
</div>

<br />

<%= link_to 'New Project', new_project_path %>
