<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "YIDLY DASHBOARD" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body id="applicationLayout">
    <div class="container">
      <header id="layout_header">
        <div class="row">
          <div class="col-md-9" id="logo_container">
            <img src="http://www.vectortemplates.com/raster/batman-logo-big.gif" class="img-responsive" alt="Responsive image">
          </div>
          <div class="col-md-3">
            <div class="btn-group">
              <button type="button" class="btn btn-primary btn-lg" 
                id="login_button">
                <i class="fa fa-hand-o-right fa-1x"></i>
                <%= link_to 'Sign Up', new_user_registration_path %>
              </button>
              <button type="button" class="btn btn-primary btn-lg" 
                id="login_button">
                <i class="fa fa-sign-in fa-1x"></i>
                <%= link_to 'Sign In', new_user_session_path %>
              </button>
            </div>
            
          </div>
        </div>
      </header>
    </div>



    <div id="main" role="main">
      <div class="container">
        <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
